#titulo-principal{
    color : darkblue;
    text-align: center;
    font-size: 60px;
}
.subtitulo{
    color: rgb(20, 19, 19);
    text-align: left;
}

.texto{
    text-align: justify;
    color: rgb(32, 27, 27);
    padding: 50;
}

body{
    background-color: rgb(219, 221, 219);
}
#mao{
    width: 600px
}

#robo{
    width: 600px;
}