#titulo-principal{
    color : blue;
    text-align: center;
    font-size: 40px;
}
.subtitulo{
    color: greenyellow;

}

.texto{
    text-align: justify;
    color: darkgray;
}


body{
    background-color: rgb(162, 236, 162);
}